@import '../../app/globals.css';

/* body{
    background-image:url('/general/bg-niks.png');
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    
} */
*{
    font-family: roboto;
    padding: 0;
    margin: 0;
}



.currentTime{
    font-size: 12em;
    font-weight: 600;
    color: var(--brand-color);
    line-height: 0.7em;
}

.CounterWrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    
}

.day{
    font-size: 3em;
    bottom: 0;
}

.counterNum{
    padding: 1rem;
    border: solid black;
    border-radius: 0.5rem;
}

.mainCounterWrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    margin: 4rem 0;
    
}

.logoWrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
}

.mainWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 80vw; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: nowrap;
  
}

.departmentWrapper{
    text-align: right;
}
.totalAccident{
    display: flex;
    gap: 1rem;
    align-items: center;
    /* flex gap-4 items-center */
}
.daysSinceLast{
    margin-bottom: 4rem;
}

.fullName{
    font-weight: 600;
    z-index:0;
}

.shortName{
    color: var(--brand-color);
    font-weight: 600;
    z-index: 0;
}



.leftWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightWrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 2rem;
 
}

.statisticWrapper{
    margin-top: 1rem;
}

.analiticAndTotal{
    display: flex;
    flex-direction: column;
}

.departmentHeader{
    font-size: 1.2rem;
    line-height: 0;
    background-color: black;
}

@media only screen and (min-width: 1600px) and
 (min-height: 1080px) {

    .CounterWrapper{
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
      
    }
    
   
    .counterNum{
        font-size: 2em;
    }

    .logo{
        width: 10em;
    }

    .departmentWrapper{
        font-size: 1.5em;
    }
    
    .fullName{
       font-size: 1.5em;
    }
    
    .shortName{
     font-size: 1.5em;
    }
  
    .departmentHeader{font-size: 3em;}
    
    .statistic{
        font-size: 2em;
    }
    .currentTime{
        font-size: 20em;
        font-weight: 600;
        color: var(--brand-color);
        line-height: 0.7em
    }


  }
  

  @media only screen and (max-width: 767px) {
    .departmentHeader{
    
     
        margin-top: 6rem;
       
     }

    .analiticAndTotal{
        flex-direction: column-reverse;
    }
    .mainWrapper{
        flex-direction: column;
    }
    .CounterWrapper{
    
    }
    .counterNum{
        font-size: 2rem;
    }
    .fullName{
        font-size: x-large;
    }
    .shortName{
        font-size: x-large;
    }
    #departmentWrapper{
        text-align: left;
        align-items: baseline;
        justify-content: end;
    }
    .totalAccident{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
    }
    .logoWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
 }

 @keyframes gradientAnimation {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .shortNameLoading,
  .fullNameLoading,
  .counterNumLoading {
    background: linear-gradient(90deg, #000000, #4a4a4a, #b3b3b3);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s infinite linear;
    color: transparent; /* Hide the text */
    border-radius: 4px; /* Add rounded corners for a smoother look */
    opacity: 0.5;
  }

 .CounterWrapperLoading{

    margin-top: 2rem;
    
 }

.departmentWrapperLoading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}
 
.shortNameLoading{
    color: transparent;
    background-color: black;
    height: 1rem;
}
.fullNameLoading{
    margin-top: 1rem;
    color:transparent;
    background-color: black;
    height: 30px;
}
.counterNumLoading{
    border:none;
    color: transparent
}