.navBarItemCard{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: linear-gradient(328deg, rgb(32, 32, 32) 0%, rgb(62, 62, 62) 100%);
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    padding: 1rem;
    padding-top: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    left: 0;
    gap: 0.5rem;
    text-align: right;
  }

  .cardLinks {
    color: gray; /* Default color */
    transition: background-color 0.3s, color 0.3s; /* Optional: Add transition for smoothness */
}

.cardLinks:hover {
 
    background-color: rgb(0, 0, 0);
}
  .itemCardToggleActive{
    top: 1rem;
    right: 1rem;
    text-align: right;
    position: absolute;
    z-index: 5;
    color: black;
    font-weight: 600;
    cursor: pointer;
    height: 100%;
  }
  
  .itemCardToggleInactive{
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    position: absolute;
    text-align: right;
    color: white;
    z-index: 10;
    
  }

  /* Cards */

  
  .itemCardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 48%;
    background: linear-gradient(328deg, rgba(0,0,0,1) 0%, rgb(39, 39, 39) 100%);
    padding: 1rem;
    border-radius: 12px;
    transition: border 0.3s ease;
    transition: box-shadow 0.3s;
  }

  .itemCardWrapper:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: linear-gradient(328deg, rgba(0,0,0,1) 0%, rgb(60, 60, 60) 100%);
  }

  .itemCardWrapper * p , h2, h3{
    color: white;
  }


  .reportButton{
    flex:1;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    background: var(--brand-color);
    font-weight: 500;
    color: white;
  }
  
  .shortName{
    color: var(--brand-color);
    font-weight: 500;
  }

  .hrDecoration {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0); /* Use background-color to change the color */
    height: 2px; /* Set a height to make it visible */
    border: none; /* Remove the default border */
  }


  .navLinks{
    position: relative;
    color: rgb(205, 205, 205);
    margin-right: 1rem;
  }

.linkWrapper{
    display: flex;
    justify-content: end;

}

.linkWrapper:hover{
    background-color: black;
}

  .navIcons {
    background-image: url('/general/edit.svg');
    background-repeat: no-repeat;
  }
  

  @media screen and (max-width:780px){

  }