.formIconsImage{
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 3;
    margin-left: 1rem;
  }
  
  .eyeIcon{
    position: absolute;
    right: 0;
    top: 50%; 
    transform: translateY(-50%);
    margin-right: 1rem;
    cursor: pointer;
  }

  .loginInput{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .logInSignInForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    transform: 0.3s;
  }



  .navbar{
    opacity: 0;
    padding: 1rem;
    text-align: right;
    transition: opacity 0.3s;
  }
  .navbar:hover{
    opacity: 1;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  }

  .mainLoginWrapper{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
  }

  .login{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }

  @media screen and (min-width: 1024px) {
    .login{
      width: 30%;
    }
  }


