/* default css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --brand-color:#ec4599; --brand-color-light:#ef6faa; --brand-color-extra-light:#f9c2d6; --brand-color-light-gray: #EBEBEB;
}
ul {
  list-style-type: none;
  padding: 0; /* Optional: Removes the default padding */
  margin: 0;  /* Optional: Removes the default margin */
}

li {
  list-style-type: none;
}
body {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

h1{font-size: 3rem;} h2{font-size: 2.5rem;} h3{font-size: 2rem;} h4{font-size: 1.75rem;} 
h5{font-size: 1.5rem;} h6{font-size: 1.2rem;} .ts{font-size: 0.8rem} .txs{font-size: 0.7rem;}

label{
  margin-bottom: -0.5rem;
}
.url{
  font-size: 12px;
  text-align: center;
}
.mainHeadline {
  margin-top:1rem;
  position: relative;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 40px;
  display: inline-block; /* Ensures the element's width matches the text */
  left: 0;

}

.mainHeadline::after {
  content: "";
  display: block; 
  position: absolute;
  bottom: -10px; 
  left: 0;
  height: 5px; 
  background-color: var(--brand-color);
  width: 100%;
}

.altHeadline{
  font-weight: 600;
  white-space: nowrap; 
}

.line {
  flex-grow: 1; /* Make the hr take up the remaining space */
  border: none;
  border-bottom: 1px solid #000; /* Customizing the line style */
}

main{
 
  width: 60%;
  margin: 0 auto;
}


/* Buttons */
.mainButton{
  color: black;
  gap: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  border-radius: 4rem;
  color: white;
  background-color: black;
  width: 100%;
}

.mainButton:hover{
  border: none;
  background-color:rgb(56, 56, 56);
}



.buttonSignUp{
  display: flex;
  background: white;
  color: black;
  justify-content: center;
  gap: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
  border: solid 1px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  border-radius: 3rem;
}


.buttonSignUp:hover{
  box-shadow: inset 0 0 0 1px black; /* Expand the shadow inward on hover */
}

select{
  border: solid 1px;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

textarea{
  height: 10rem;
}




.flexibleInputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}


.profileImageList{
  object-fit:cover;
  width: 50px;
  height: 50px;
}

.input,input, textArea {
  background-color: var(--brand-color-light-gray);
  padding: 1rem;
  border-radius: 0.7rem;
  transition: box-shadow 0.5s;
  width: 100%;
}

input:focus, textarea:focus{
  outline: solid  var(--brand-color);
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Maintain spacing between sections */
  gap: 5rem;
}

form, section{
  margin-bottom: 4rem;
}



.sectionForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionListing{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex:2;
}

.adminWrapper{
  display: flex;
}




.logo{
  width: 100px;
}

.login{
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}


.altButton{
  flex:1;
  padding: 1rem;
  outline: 2px solid black;
  background-color: white;
  width: 100%;
  border-radius: 0.7rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
.altButton:hover{
  outline: 2px solid var(--brand-color);
}

select::selection{
  outline: 2px solid var(--brand-color);
  border: none;
}

select:hover{
  outline: 2px solid var(--brand-color);
  border: transparent;
}

.deleteButton{
  background-color: red;
  width: 100%;
  border-radius: 3rem;
  color: white;
  padding: 1rem;
}
/* Cards */
.cardWrapper{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.navBarItemCard{
  display: flex;
  flex-direction: column;
  position: absolute;
  background: linear-gradient(328deg, rgb(32, 32, 32) 0%, rgb(62, 62, 62) 100%);
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  padding: 1rem;
  padding-top: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  left: 0;
  gap: 0.5rem;
  text-align: right;
}

.cardLinks {
  color: gray; /* Default color */
  transition: background-color 0.3s, color 0.3s; /* Optional: Add transition for smoothness */
}

.cardLinks:hover {

  background-color: rgb(0, 0, 0);
}
.itemCardToggleActive{
  top: 1rem;
  right: 1rem;
  text-align: right;
  position: absolute;
  z-index: 5;
  color: black;
  font-weight: 600;
  cursor: pointer;
  height: 100%;
}

.itemCardToggleInactive{
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  position: absolute;
  text-align: right;
  color: white;
  z-index: 10;
  
}

/* Cards */

.itemCardWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 210px;
  width: 32%;
  color: white;
  background: linear-gradient(328deg, rgba(0,0,0,1) 0%, rgb(39, 39, 39) 100%);
  padding: 1rem;
  border-radius: 12px;
  transition: border 0.3s ease;
  transition: box-shadow 0.3s;
}

.itemCardWrapper:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background: linear-gradient(328deg, rgba(0,0,0,1) 0%, rgb(60, 60, 60) 100%);
}

.itemCardWrapper * p , h2, h3{
  color: white;
}

.reportButton{
  flex:1;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--brand-color);
  font-weight: 500;
  color: white;
}

.cardButton{
  flex:1;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--brand-color-light-gray);
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.cardButton:hover{
  background-color: rgb(255, 255, 255);
}
.shortName{
  color: var(--brand-color);
  font-weight: 500;
}

.hrDecoration {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0); /* Use background-color to change the color */
  height: 2px; /* Set a height to make it visible */
  border: none; /* Remove the default border */
}

.linkWrapper{
  display: flex;
  justify-content: end;

}

.linkWrapper:hover{
  background-color: black;
}

.navIcons {
  background-image: url('/general/edit.svg');
  background-repeat: no-repeat;
}








@media screen and (min-width: 1024px) {
  .login{
    width: 30%;
  }
  


}

.loadingElement {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, black, gray);
  background-size: 200% 200%;
  animation: gradientAnimation 2s ease infinite;
}

.loadingButton {
  position: relative; /* Ensure the button is a positioned element */
  color: white; /* Ensure the text color is visible */
  gap: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  border-radius: 4rem;
  background-color: black; /* Background color of the button */
  width: 100%;
}

.loadingButton:after {
  content: "";
  position: absolute; 
  top: 30%;
  right: 15%; /* Position it towards the right of the button */
  width: 20px; 
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3); /* Light gray border */
  border-top: 3px solid white; /* White top border for the spinner effect */
  border-radius: 50%;
  animation: spin 0.6s linear infinite; /* Continuous spinning animation */
  transform: translate(-50%, -50%); /* Center the spinner */
  display: block; /* Ensure the spinner is always displayed when loading */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start rotation */
  }
  100% {
    transform: rotate(360deg); /* Complete rotation */
  }
}





@media (max-width: 720px) {
  main{
    width: 90%;
    flex-direction: column;
  }
  .url{
    text-align: left;
  }
  .sectionWrapper{
    flex-direction:column-reverse;
    gap: 1rem;
  }
.mainHeadline{
  left: 0;
  transform: translate(0, 0);
}
}

.searchIcon{
  position: absolute;
  left: 1rem;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}
.searchFilterWrapper::before{
  content: "";
  width: 30px;
  height: 30px;
  background-color: black;
}

.searchBar{
  position: relative;
  padding: 0.5rem 2.5rem 0.5rem 3rem;
  position: relative;
}

.navLinks{
  padding-right: 1rem;
}

.navLinkInactive{
  font-weight: 500;
  color: rgb(79, 79, 79);
}

.navLinkInactive:hover{
  font-weight: 600;
}

.navLinkActive{
  font-weight: 600;
}

.navLinkActive::after{
  font-weight: 600;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);

}

.gridCol {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 1rem;
  width: 100%; 

}


@media  (max-width:1000px){
  .gridCol{
    grid-template-columns: 1fr;
  }
}
.deleteUpdate{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
  right: 0;

}
